<div class="window devise-window signup">
  <h2 class="title">Registrieren</h2>
  <br />

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname, autocomplete: "firstname", placeholder: "Peter", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname, autocomplete: "lastname", placeholder: "Placeholder", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e.g. lukas@example.com", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "************", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "************", class: "input" %>
    </div>

    <br />

    <div class="actions">
      <%= f.submit "Sign up", class: "button is-dark" %>
    </div>
  <% end %>

  <br />
  <%= render "devise/shared/links" %>
</div>