<div id="app-window-id-<%=app_id%>" class="app-window window <%= last_state %>" style="top: <%= pos_y %>%; left: <%= pos_x %>%;">
  <div class="app-title-bar">
    <div class="app-button app-close"></div>
    <div class="app-button app-fullscreen"></div>
    <div class="app-button app-hide"></div>
  </div>

  <div class="app-body">
    <%= render partial: "my_apps/#{template_name}" %>
  </div>
</div>