<div id="app-<%= app.id %>" class="app" draggable="true" style="left: <%= user_app['pos_x'] %>%; top: <%= user_app['pos_y'] %>%;">
  
  <img src="<%= app.img_src %>" class="icon" draggable="false" />

  <span class="text">
    <%= app.name %>
  </span>
</div>