<!DOCTYPE html>
<html>
  <head>
    <title>WeixOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onclick="closeSystemMenu(event);">
    <div id="desktop" ondrop="dropApp(event)" ondragover="allowAppDrop(event)">
      <%= yield %>

      <% @apps.each do |app| %>
        <% user_app = app.user_apps.where(user_id: current_user.id).first %>

        <% if user_app['desktop_link'] == true %>
          <%= render partial: 'system/app/app', locals: { app: app, user_app: user_app } %>
        <% end %>
        
        <% if user_app['is_opened'] == true %>
          <script>
            openApp(event, 
                    "<%= app.id %>", 
                    "<%= app.img_src %>", 
                    "<%= user_app['window_pos_x'] %>", 
                    "<%= user_app['window_pos_y'] %>", 
                    "<%= user_app['last_state'] %>");
          </script>
        <% end %>
      <% end %>
      
      <%= render partial: 'system/toolbar/system_tool_bar' %>
      <div id="system-message-overlay" class="hidden"></div>
    </div>
  </body>
</html>
