<!DOCTYPE html>
<html>
  <head>
    <title>WeixOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'system', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'desktop', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'window', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'toolbar', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="desktop">
      <%= yield %>
      <%= render partial: 'system/toolbar/system_tool_bar' %>
      <div id="system-message-overlay" class="hidden"></div>
    </div>
  </body>
</html>
