<!DOCTYPE html>
<html>
  <head>
    <title>WeixOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <div class="desktop" ondrop="dropApp(event)" ondragover="allowAppDrop(event)">
      <%= yield %>

      <%= render partial: 'apps', locals: { apps: @apps } %>
      <%= render partial: 'system_tool_bar' %>

    </div>
  </body>
</html>
